.r {
    background-color: rgba(255,0,0,0.5);
}
.g {
    background-color: rgba(0,255,0,0.5);
}
.b {
    background-color: rgba(0,0,255,0.5);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

header, footer, header>h3 {
    background: #2f2f2f;
    color: whitesmoke;
}
footer {
    padding: 20px;
}

nav {
    display: flex;
}
div.brand {
    padding: 20px;
    flex: 1;
}
nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-around;
}
nav li {
    display: inline;
    padding: 20px;
}

h1 {
    margin: 0;
    padding: 20px
}
section {
    min-height: 300px;
}
#about, #contact {
    background-color: rgba(0,0,0,0.1);
}
#work {
    background-color: rgba(0,0,0,0.2);
}
